.btn {
    padding: .9rem 2.2rem;
    border-radius: .5rem;
    border: none;
    transition: all .4s ease;
    cursor: pointer;
    font-size: 1.6rem;
}

/* Primary  */

.btn--primary {
    background-color: var(--color-primary-500);
    color: var(--color-neutral-50);
}

.btn--primary:hover {
    background-color: var(--color-primary-600);
}

.btn--primary:active {
    color: var(--color-primary-100);
}

.btn--primary:disabled {
    background-color: var(--color-primary-100);
    pointer-events: none;
}

/* End Primary */

/* Secondary */

.btn--secondary {
    background-color: var(--color-primary-50);
    color: var(--color-primary-500);
}

.btn--secondary:hover {
    background-color: var(--color-primary-100);
    color: var(--color-primary-600);

}

.btn--secondary:active {
    color: var(--color-primary-300);
}

.btn--secondary:disabled {
    color: var(--color-primary-300);
    background-color: var(--color-primary-50);
    pointer-events: none;
}

/* End Secondary */

/* Tertiary */

.btn--tertiary {
    background-color: #FFF;
    border: 1px solid var(--color-neutral-200);
    color: var(--color-neutral-700);
}

.btn--tertiary:hover {
    background-color: var(--color-neutral-100);
}

.btn--tertiary:active {
    color: var(--color-neutral-600);
    background-color: var(--color-neutral-400);
    border-color: var(--color-neutral-600);
}

.btn--tertiary:disabled {
    color: var(--color-neutral-400);
    pointer-events: none;
}

/* End Tertiary */

/* Danger */
.btn--danger {
    background-color: var(--color-danger-500);
    color: #FFF
}

.btn--danger:hover {
    background-color: var(--color-danger-600);
}

.btn--danger:active {
    color: var(--color-danger-200);
}

.btn--danger:disabled {
    background-color: var(--color-danger-300);
    pointer-events: none;
}

/* End Danger */